* 
{
    margin: 0;
}
.heading
{
    height: 100px;
    background-color: rgb(71, 71, 162);
}
.logo
{
    margin-left: 100px;
}
.logo img 
{
    height: 100px;
}
.online 
{
    margin-left: 400px;
    margin-top: -70px;
    color: white;
    background-color: aquamarine;
    width: 150px;
    height: 30px;
   padding-top: 5PX;
    text-align: center;
    border-radius: 10px;
}
.online:hover
{
    color: gray;
}
.email
{
  margin-left:630px;
  margin-top: -29px;
  color: white;
  font-weight: bold;
}
.call
{
   margin-left: 900px; 
   margin-top: -25px ;
   color: white;
   background-color: red;
   width: 150px;
   height: 30px;
   text-align: center;
   border-radius: 9px;
   padding-top: 5px;
   font-weight: bold;
}
.call:hover
{
    color: green;
}
.phone
{
    color: white;
    margin-right: 150px;
    float: right;
    margin-top: -25px;
    font-weight: bold;
}
.menu 
{
    padding-top: 20px;
}
.menu li
{
    display: inline;
    color: black;
    font-size: 15px;
    font-size: large;
    margin-left: 60px;
}
.sec1
{
    height: 200px;
    width: 350px;
    background-color: rgb(71, 71, 176);
    color: white;
}
.sec1 h6
{
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
.sec1 p 
{
    line-height: 30px;
    text-align: center;
}
.sec1 hr 
{
    margin-left: 60px;
    margin-right: 60px;
}
.sec2
{
    margin-left: 360px;
    background-color: aqua;
    height: 200px;
    width: 350px;
    color: white;
    margin-top: -210px;
}
.sec2 p
{
    line-height: 30px;
    text-align: center; 
}
.sec2 hr
{
    margin-left: 60px;
    margin-right: 60px;  
}
.sec2 h6
{
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
.sec3
{
    margin-left: 720px;
    background-color: green;
    height: 200px;
    width: 350px;
    color: white;
    margin-top: -210px;
}
.sec3 p
{
    line-height: 30px;
    text-align: center; 
}
.sec3 hr
{
    margin-left: 60px;
    margin-right: 60px;  
}
.sec3 h6
{
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
.sec4
{
    margin-left: 1080px;
    background-color:lawngreen;
    height: 200px;
    width: 350px;
    color: white;
    margin-top: -210px;
}
.sec4 p
{
    line-height: 30px;
    text-align: center; 
}
.sec4 hr
{
    margin-left: 60px;
    margin-right: 60px;  
}
.sec4 h6
{
    text-align: center;
    padding-top: 20px;
    font-size: large;
}
.image img
{
    margin-left: 150px;
    margin-top: 40px;
   height: 400px;
   width: 450px;

}
.sub h3
{
    margin-left: 650px;
    margin-top: -400px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    width: 700px;
    
}
.sub2 h3
{
    margin-left: 650px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: -50px;
    margin-top: 8px;
    font-size: 30px;
  
}
.sub3 h4
{
    margin-left: 650px;
    width: 650px;
    line-height: 30px;
    font-size: medium;
    margin-top: 30px;
}
.read
{
    margin-left: 650px;
    margin-top: 50px;
    background-color: rgb(77, 133, 255);
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: white;
}
.read:hover
{
    color: green;
}
.course
{
    margin-top: -50px;
    margin-left: 1000px;
    background-color: rgb(77, 133, 255);
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: white;
}
.course:hover
{
    color: green;
}
.choice
{
    margin-top: 80px;
    background-color: rgb(59, 113, 228);
    color: white;
    height: 600px;
 
}
.choose1 h3
{
    margin-left: 150px;
    margin-top: -20px;
    padding-top: 50px;
}
.choose1 p
{
    margin-left: 150px;
    width: 680px;
    line-height: 30px;
    font-size: medium;
    margin-top: 50px;
}
.choose1 ul
{
    margin-left: 128px;
    line-height: 30px;
    font-size: medium;
    
}
.choose2 h3
{
    margin-left: 850px;
    margin-top: -480px;
}
.choose2 form
{
    margin-left: 900px;
   margin-top: 20px;
}
.submit
{
    margin-left: 900px;
    margin-top: 40px;
    background-color: rgb(0, 192, 0);
    width: 150px;
    height: 50px;
    font-size: large;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    
}
.choose2 input 
{
    width: 400px;
    height: 40px;
}
.choose2 label 
{
    margin-top: 20px;
}
.our h4
{
    margin-left: 180px;
    margin-top: 100px;
}
.end
{
    background-color: rgb(82, 82, 248);
    color: white;
    font-size: larger;
    
}
.end li
{
    line-height: 40px;
}
.end h4 
{
    padding-top: 30px;
    margin-left: 150px;

}
.list1
{
   font-family: monospace;
   margin-left: 150px;
   margin-top: 50px;

}
.list2
{
    font-family: monospace;
    margin-left: 450px;
    margin-top: -210px;
}
.list3
{
    font-family: monospace;
    margin-left: 750px;
    margin-top: -210px ;
}
.list4
{
    font-family: monospace;
    margin-left: 1050px;
    margin-top: -210px;
}
.finish
{
    margin-left: 150px;
    margin-top: 30px;
}
.ficon
{
    margin-left: 1050px;
    margin-top: -20px;
    
}
.yt
{
    margin-left: 1100px;
    margin-top: -20px;
}
.fb
{
    margin-left: 1150px;
    margin-top: -20px;
}
.user
{
    text-align: center;
}
